<div class="header">

    <div class="header_struct">
        <div class="items">
            <a href="#" (click)="sidebarService.toggleSidebar()" >
                Menu
            </a>
        </div>
        <div class="items">
            <a href="">
                Houses APP
            </a>
        </div>
        <div class="items">
            <a href="">
                Projex
            </a>
        </div>
        <div class="items">
            <a href="">
                Logout
            </a>
        </div>
        <div class="items">
            <a href=""></a>
        </div>
        <div class="items">
            <a href=""></a>
        </div>
    </div>
</div>