.header {
    width: 100%;
    padding: 25px 25px 25px 25px;
    background-color: #fff ;
    position: fixed;
    z-index: 1;
    box-shadow: 5px 1px 8px rgb(194, 194, 194);
}

.header_struct {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.items a {
    color: #55BDB3;
    padding-right: 30px;
    text-decoration: none;
}

.items p {
    color: #55BDB3;
    padding-right: 30px;
    cursor: pointer;
}


.bi-list {
    font-size: 25px;
}


.profile {
    margin-right: 50px;
}