<div class="form_struct"> 
  <div class="form_size">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div>
        <label>Email:</label>
        <input formControlName="email" type="email">
      </div>
      <div>
        <label>Password:</label>
        <input formControlName="password" type="password">
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
      <p>Se você não tem uma conta registrada, clique <a routerLink="/register">aqui</a> para criar uma conta.</p>

    </form>
  </div>
</div>
