    
    <div class="form_struct"> 
        <div class="form_size">
            <form [formGroup]="registerForm" (ngSubmit)="cadastro()">
                <h1>Register</h1>
                <label>Email:</label>
                <input formControlName="email" type="email">
                    <label>Password:</label>
                    <input formControlName="password" type="password">
                <div>
                    <button type="submit">Register</button>
                </div>
                <p>Se você já possui uma conta registrada, clique <a routerLink="/login">aqui</a> para fazer login.</p>
            </form>
        </div>
    </div>