    
    <div class="form_struct"> 
        <div class="form_size">
            <form [formGroup]="registerForm" (ngSubmit)="cadastro()">
                <label for="email">
                    <h1>Register</h1>
                    <p>email</p>
                    <input formControlName="email" type="email">
                </label>
                    <label for="password">
                        <p>password</p>
                        <input formControlName="password" type="password">
                    </label>
                    <div>
                        <button type="submit">Register</button>
                    </div>
            </form>
        </div>
    </div>